html,
body {
  width: 100%;
  background-image: url(Images/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.img-width100 {
  width: 100%;
}

.pos-abs {
  position: absolute;
}

.umb {
  bottom: 2vh;
  right: 10vw;
  width: 8%;
}

.shadow {
  width: 10%;
  right: 8vw;
  bottom: 1.5vh;
}

.mat {
  width: 10%;
  bottom: 3vh;
  right: 15.5vw;
}

.hat {
  width: 5%;
  bottom: 3.5vh;
  right: 17.5vw;
}

.cloud1 {
  top: 5vh;
  left: 8vw;
}

.text {
  width: 30%;
  top: 30vh;
  left: 13vw;
}

.cloud2 {
  top: 5vh;
  right: 40vw;
}

.cloud3 {
  top: 5vh;
  right: 10vw;
}

.cloud4 {
  top: 5vh;
  left: -23vw;
}

.cloud {
  width: 20%;
  position: absolute;
}

.img-opacity {
  opacity: 0.6;
}
